body {
    margin: 0;
    box-sizing: border-box;
}

#upload-container {
    display: flex;
    justify-content: space-between;
}

#upload-container>div {
    flex: 50%;
    border: 2px solid black;
    height: 450px;
}

#canvas {
    border: 2px solid black;
    display: block;
}

button, input {
    margin: 5px;
}

#image-container {
    display: flex;
    justify-content: flex-start;
}